/* Fonts */
@font-face {
  font-family: 'Futura Medium';
  src: url("/fonts/FUTURASTD-MEDIUM.OTF");
}

@font-face {
  font-family: 'Futura Medium';
  font-weight: bold;
  src: url("/fonts/FUTURASTD-BOLD.OTF");
}

@font-face {
  font-family: 'Futura Medium Condensed';
  src: url("/fonts/FUTURASTD-CONDENSED.OTF");
}

/* Root */
:root {
  --main-color: #070b76;
  --main-bg-color: #ffffff;
  --main-font: 'Futura Medium', Arial;
  --main-font-narrow: 'Futura Medium Condensed', 'Arial Narrow';
}

html {
  background-color: var(--main-bg-color);
  font-family: var(--main-font)
}

p {
  line-height: 1.5;
}

/* Repeating classes */
.container {
  width: 70%;
  margin: 0 auto;
  max-width: 1100px;
  font-size: 16px; 
  word-wrap: break-word;
}

.btn {
  border-radius: 50px;
  padding: 12px 28px;
  font-size: 0.9em;
  color: var(--main-color);
}

.btn-alt {
  background-color: var(--main-color);
  color: var(--main-bg-color)
}

.btn-bigger {
  padding: 20px 55px;
  font-size: 1.1em;
}
/*--------------------------*/

/* Nav-bar */
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

img#logo {
  width: 100%;
  height: auto;
  max-width: 320px;
}

.nav-links {
  display: flex;
  justify-content: flex-end; 
  margin-left: 20px;
}

.nav-links a {
  margin: 0 30px;
  padding: 10px;
  display: block;
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
}

.no-scroll {
  overflow: -moz-hidden-unscrollable;
  overflow: hidden;
}
/*--------------------------*/


/* Burger Navbar*/
.burger {
  display: none;
  margin-left: 40px;
}

.burger div {
  width: 18px;
  height: 3px;
  border-radius: 25%;
  background-color: var(--main-color);
  margin: 2px;
  transition: all 0.3s ease;
}
/*------------------------*/
/* First section of webpage */
#first-section {
  margin-bottom: 85px;
}

/* Home screen displayed occupying the full viewport*/
.full-viewport {
  width: 100%;
  height: 90vh;
  min-height: 750px;
  max-height: 800px;
}

#first-section h1 {
  font-size: 4em;
  color: var(--main-color);
  font-weight: 700;
  padding-right: 10%;
  margin-top: 120px;
  margin-bottom: 65px;
}

#first-section a {
  color: var(--main-color);
  padding-bottom: 3px;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 40px;
  font-size: 1.5em;
  font-weight: 500;
}
/*-------------------------------------------*/

/*Second section*/
#second-section {
  background-color: var(--main-color);
  padding: 70px 0;
}

#second-section h2{
  color: var(--main-bg-color);
  font-size: 3em;
  font-weight: 650;
  padding-right: 20%;
  margin-bottom: 40px;
}

#second-section p {
  color: var(--main-bg-color);
  padding-left: 20%;
  margin-bottom: 35px;
  font-size: 1.5em;
}
/* Two button flexbox */
#sec-btn-div {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
/* Button for published */
#sec-btn-pub {
  margin: 5px 5px;
  border: 1px solid white;
}
/* Button for booking */
#sec-btn-book {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  margin: 5px 5px;
  margin-right: 0;
}

/*---------------------------------------*/

/* Third section: Portfolio */
#third-section {
  margin-bottom: 80px
}

#port-section {
  padding-top: 10px;
}

/* Heading */
#portfolio-h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: var(--main-color);
  text-align: center;
  padding: 20px 0;
  margin: 30px 0;
}
/* Each seperate portfolio class */
.port-container {
  padding: 40px 0;
  margin: 10px 0;
}
/* (Heading para, button) & image div */
.hpd-img-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hpd-img-div .btn{
  margin: 15px 0;
}

.hpd-img-div img{
  width: 100%;
  max-width: 370px;
  height: 380px;
  object-fit: cover;
  border-radius: 5px;
}

/* (Heading, para) & button div */ 
/* Heading and para are in seperate div */
.heading-p-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 52%;
  max-width: 800px;
  margin-right: 30px;
}

.heading-p-div h3 {
  font-size: 2.25em;
  color: var(--main-color);
  font-weight: 650;
  margin-bottom: 10px;
}

.heading-p-div div {
  margin: 15px 0;
}

.heading-p-div p {
  font-size: 1.1em;
  font-weight: 400;
  color: var(--main-color);
  margin-bottom: 15px;
}

/* Alternate image & texts-button */
.alter-img-hpd {
  flex-direction: row-reverse;
}

.alt-heading-p-div {
  margin-left: 30px;
  margin-right: 0;
}

/*-----------------------------*/

/* Fourth section: About us */

#fourth-section {
  padding: 20px 0;
  background-color: var(--main-color);
  padding-bottom: 200px;
}

/* The whole container */
#about-container {
  margin-bottom: 180px;
}

/* Heading: About us */
#about-us {
  color: var(--main-bg-color);
  font-size: 2.25em;
  font-weight: 700;
  padding: 20px;
  margin: 20px 20px 60px 20px;
  text-align: center;
}

/* Div for (containing) two people */
#two-plp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0;
}

/* Seperate section for each */
.person-container {
  display: inline-block;
}

/* Div containing image & preceding text */
.img-txt-about {
  display: inline-block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

/* Div for image */
.about-image {
  margin-bottom: 20px;
}

.about-image img {
  display: inline-block;
  width: 300px;
  height: 335px;
  object-fit: cover;
  border-radius: 5px;
}

/* Text data */
/* Div for text */
.about-text p {
  color: var(--main-bg-color);
}

p.cmp-title {
  font-size: 1.4em;
  padding-bottom: 5px;
  font-weight: 650;
}

p.name {
  font-size: 2em;
  font-weight: 800;
  padding-bottom: 5px;
  font-size-adjust: 0.6;
  font-family: var(--main-font-narrow);
}

p.job {
  font-size: 1.6em;
  padding-bottom: 10px;
  font-weight: 500;
  font-size-adjust: 0.6;
  font-family: var(--main-font-narrow);
}

p.description {
  font-size: 1.1em;
  font-weight: 500;
}

/* Second person in about us */
#sec-person {
  margin-top: 130px;
}
/*-------------------*/

/* Contact us section */

#contact h2 {
  color: var(--main-bg-color);
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  margin: 60px 0;
  letter-spacing: 2px;
}

/* Btn resizing */
.btn-biggest {
  padding: 30px 60px;
  font-size: 1.4em;
}

/* Button & text */
.end-btn-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* Text below btn */
#endnote {
  width: 60%;
  margin: 20px auto;
  text-align: center;
}

#contact p {
  color: var(--main-bg-color);
  font-size: 1.3em;
  font-weight: 500;
  padding: 20px 0;
}
/*--------------------*/

/* All rights reversed line */
#copyright {
  text-align: center;
  background-color: var(--main-color);
  padding: 30px;
  color: #FFFFFF;
  font-size: 12px;
}

/* Interactive (hover, click) elements */

/*----------------------*/


/* Layout for smaller screen */

@media (max-width: 1300px) {
  .container {
    width: 75%;
    font-size: 15px;
  }

  #first-section h1 {
    padding-right: 5%;
  }
  
  #second-section p {
    padding-left: 15%;
  }

  #second-section h2 {
    padding-right: 15%;
  }

  .hpd-img-div img{
    max-width: 300px;
    height: 310px;
  }

  .heading-p-div {
    margin-right: 20px;
  }
  
  .alt-heading-p-div {
    margin-left: 20px;
    margin-right: 0;
  }

  .img-txt-about {
    width: 280px;
  }

  .about-image img {
    width: 280px;
    height: 315px;
  }
}

@media (max-width: 980px) {
  body, .body-wrapper {
    overflow-x: hidden;
  }


  .full-viewport {
    height: auto;
    min-height: auto;
    max-height: auto;
  }

  .container {
    width: 85%;
    font-size: 14px;
  }

  .hpd-img-div img{
    max-width: 250px;
    height: 260px;
  }

  .heading-p-div {
    margin-right: 20px;
  }
  
  .alt-heading-p-div {
    margin-left: 20px;
    margin-right: 0;
  }

  .img-txt-about {
    width: 250px;
  }

  .about-image img {
    width: 250px;
    height: 280px;
  }

  #second-section h2{
    padding-right: 25%;
  }

  .btn-bigger {
    padding: 12px 35px;
  }

  /* Burger Navbar */
  .nav-links {
    position: absolute;
    right: 0px;
    left: 0px;
    height: 180px;
    top: 100px;
    padding: 0;
    margin: 0;
    background-color: var(--main-bg-color);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 3;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-links a {
    opacity: 0;
    padding: 20px 30px;
  }

  /* Overlay */
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
    display: block;
    transition: all 8s;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 3px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -3px);
}

@media (max-width: 800px) {
  .container {
    width: 90%;
  }

  #first-section, #second-section .container {
    font-size: 12px;
  }
}

/* todo: decrease text size; dec margins
         flex column; fix alignment */
@media (max-width: 780px) {

  .port-container {
    padding: 10px 0;
    margin: 10px 0;
  }

  #second-section {
    padding: 50px 0;
  }

  #about-us {
    margin: 15px 0;
  }

  .hpd-img-div img{
    max-width: 380px;
    height: 390px;
  }

  #first-section, #second-section .container {
    font-size: 11px;
  }
  #contact {
    font-size: 12px;
  }

  .hpd-img-div {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .heading-p-div {
    width: 380px;
    margin: 15px 0;
    align-items: flex-end;
  }
  
  .img-txt-about {
    width: 240px;
  }

  .about-image img {
    width: 240px;
  }

  #second-section h2{
    padding-right: 15%;
  }
  
  #second-section p {
    padding-left: 15%;
  }

  .btn-biggest {
    padding: 20px 50px;
  }

  img#logo {
    width: 60%;
  }

  #endnote {
    width: 70%;
  }

}

@media (max-width: 680px) {
  #two-plp {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  #fir-person {
    align-self: flex-start;
  }

  #sec-person {
    align-self: flex-end;
    margin-top: 50px;
  }
  
  .img-txt-about {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #sec-person .name, #sec-person .job{
    text-align: right;
  }

  .about-image img {
    width: 250px;
  }

  #fir-person .about-image {
    align-self: flex-start;
  }

  #sec-person .about-image {
    align-self: flex-end;
  }

  #second-section h2{
    padding-right: 10%;
  }
  
  #second-section p {
    padding-left: 10%;
  }

  #sec-btn-div {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  #contact {
    font-size: 11px;
  }

  .container {
    font-size: 12px;
  }

}

@media (max-width: 500px) {

  #first-section, #second-section .container {
    font-size: 8px;
  }
  
  img#logo{
    width: 50%;
    min-width: 150px;
  }

  #second-section {
    padding: 40px 0;
  }

  .nav-links {
    top: 80px;
  }

  #first-section h1 {
    margin-top: 65px;
  }

  .container {
    font-size: 11px;
  }

  #port-section {
    padding-top: 0px;
  }

  .port-container {
    padding: 10px 0;
    margin: 10px 0;
  }

  #contact {
    font-size: 9px;
  }

  #contact h2 {
    margin: 20px 0;
  }

  #endnote {
    margin: 0 auto;
    width: 80%;
  }

  #about-us {
    margin: 15px;
  }

  #about-container {
    margin-bottom: 100px;
  }

  div#fourth-section {
    padding-bottom: 90px;
  }

  .about-image img {
    width: 220px;
    height: 250px;
  }

  .hpd-img-div img{
    max-width: 280px;
    height: 290px;
  }

  .heading-p-div {
    width: 280px;
  }
}
/*-----------------------*/